<section id='tools'>
  <ul class='breadcrumb' id='breadcrumb'>
    <li class='title'>{{title}}</li>
  </ul>
  <div id='toolbar'>
    <div class='btn-group'>
      <a class='btn btn-primary ' ng-click='logout()'>
                <i class="icon-plus-sign icon-white"></i> Logout
            </a>
      <a class='btn' ng-click="reload()" title='Reload'>
                <i class='icon-refresh'></i> Refresh
            </a>
    </div>
  </div>
</section>
<!-- Content -->
<div id='content'>
  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="panel">
        <div class="content">

          <ng-echarts class="col-md-12 echarts" ec-config="config" ec-option="optionBar"></ng-echarts>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="panel">
        <div class="content">

          <ng-echarts class="col-md-12 echarts" ec-config="config" ec-option="optionRadar"></ng-echarts>

        </div>
      </div>
    </div>
  </div>


</div>