<section id='tools'>
    <ul class='breadcrumb' id='breadcrumb'>
        <li class='title'>{{title}}</li>
    </ul>
    <div id='toolbar'>
        <div class='btn-group'>
            <a class='btn' ng-click="reload()" title='Reload'>
                <i class='icon-refresh'></i> Refresh
            </a>
        </div>
    </div>
</section>

<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">เข้าสู่ระบบ</div>

            </div>

            <div style="padding-top:30px" class="panel-body">
                <form name="login" class="form-horizontal">

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="email" class="form-control" ng-model="usr.email" required autofocus>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" ng-model="usr.password" required>
                    </div>
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button type="submit" ng-click="login2()" class="btn btn-primary pull-left"><i class="glyphicon glyphicon-log-in"></i> Log in</button>
                        </div>
                    </div>
                    <div class="alert alert-danger" ng-show="errorMsg">
                        <span class="glyphicon glyphicon-hand-right"></span>&nbsp;&nbsp;{{errorMsg}}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>