<section id='tools'>
    <ul class='breadcrumb' id='breadcrumb'>
        <li class='title'>{{title}}</li>
<!--         <li>Latitude: {{center.lat}}</li>
<li>Longitude: {{center.lng}}</li>
<li>Zoom: {{center.zoom}}</li> -->
    </ul>
    <div id='toolbar'>
        <div class='btn-group'>
            <button type="button" class='btn btn-primary' ng-click='addMarkers()'>
                <i class="icon-plus-sign icon-white"></i> เพิ่มสถานที่
            </button>
            <button type="button" class='btn btn-info' ng-click='logout()'>
                <i class="icon-plus-sign icon-white"></i> Logout
            </button>
            <button type="button" class='btn' ng-click="reload()" title='Reload'>
                <i class='icon-refresh'></i> Refresh
            </button>
        </div>
    </div>
</section>
<!-- Content -->
<!-- <div id='content'> -->
<div style="padding: 0px;" id='content'>
    <leaflet markers="markers" geojson="geojson" lf-center="center" layers="layers" width="100%" height="100%"></leaflet>
</div>
<!-- </div> -->
